@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  /*основной цвет текста*/
  --text-color: #757575;
  /*вторичный цвет текста*/
  --accent-color: #2196f3;
  /*цвет акцент*/
  --black-color: #000000;
  /*цвет черный*/
  --white-color: #ffffff;
  /*цвет белый*/
  --footer-bg-color: #2f303a;
  /*цвет фона футера*/
  --bg-decorations: #f5f4fa;
  /*цвет фона иконок*/
  --icon-color: #afb1b8;
  /*цвет иконок*/
  --transition-functions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*плавный переход*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-spec {
  padding-top: 94px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--transition-functions);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--black-color);
  line-height: 1.17;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
  .header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.2;
  }
  .footer__logo {
    line-height: 1.19;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-functions), visibility var(--transition-functions);
  z-index: 100;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
}

.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-functions);
}

.modal-window__close-button:focus {
  outline: none;
}

.modal-window__close-button-icon {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.modal-window__close-button:hover .modal-window__close-button-icon,
.modal-window__close-button:focus .modal-window__close-button-icon {
  fill: var(--accent-color);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form {
  width: 448px;
}

.modal-form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form__text {
  display: block;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-functions);
}

.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__thumb {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-functions);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--transition-functions);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__agree {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-form__icon-check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-functions);
}

.modal-form__checkbox:checked + .modal-form__icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form__checkbox:focus + .modal-form__icon-check {
  border: 2px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form__agree-lihk {
  color: var(--accent-color);
}

.modal-form__button_position {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .header__nav_icon {
    display: none;
  }
}

.site-nav {
  display: none;
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link_current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: color var(--transition-functions);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .auth-nav {
    display: block;
    margin-left: auto;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .auth-nav__link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: color var(--transition-functions);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
  }
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero__button_position {
  padding: 10px 32px;
}

.features__item {
  width: 100%;
}

.features__decorations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-decorations);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin: -15px;
  }
  .features__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section__work {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section_bgc_darkened {
  background-color: #f5f4fa;
}

.team-list__item {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list__description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.team-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color var(--transition-functions);
}

.team-social-list__link:hover, .team-social-list__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.team-social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--transition-functions);
}

.team-social-list__link:hover .team-social-list__icon,
.team-social-list__link:focus .team-social-list__icon {
  fill: var(--white-color);
  outline: none;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.clients-list {
  display: flex;
}

.clients-list__item {
  flex-basis: calc((100% - 4 * 15px) / 2);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--transition-functions);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill var(--transition-functions);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
  .clients-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: center;
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__contacts {
  margin-bottom: 60px;
}

.address {
  margin-bottom: 8px;
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-list__link {
  color: white;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-functions);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
  outline: none;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}

/* JOIN */
.join {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.join__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.join-social-list {
  display: flex;
  justify-content: center;
  width: 206px;
}

.join-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-functions);
}

.join-social-list__link:hover, .join-social-list__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.join-social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .contacts__join {
    display: flex;
  }
  .footer__contacts {
    padding-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__contacts {
    padding-left: 0;
    margin-right: 70px;
  }
  .address {
    margin-bottom: 9px;
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: var(--footer-bg-color);
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  transition: border var(--transition-functions);
}

.subscribe-form__input:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.subscribe-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
  .subscribe-form {
    display: flex;
  }
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
  .subscribe-form__button_position {
    display: flex;
    justify-content: space-between;
    padding: 10px 29px;
  }
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--bg-decorations);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transition-functions), color var(--transition-functions), box-shadow var(--transition-functions);
}

.filter-list__button:hover, .filter-list__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.filter-list__button_active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.examples-list__item {
  width: 100%;
}

.examples-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-functions);
}

.examples-list__link:hover, .examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.examples-list__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples-list__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.examples-list__overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-functions);
  overflow: auto;
}

.overlay__text {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}

.examples-list__link:hover .overlay,
.examples-list__link:focus .overlay {
  opacity: 1;
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    width: 362px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .examples-list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .examples-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */