.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .header__nav_icon {
    display: none;
  }
}

.site-nav {
  display: none;
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;

      transition: color var(--transition-functions);

      &:hover,
      &:focus {
        color: var(--accent-color);
        outline: none;
      }
    }
  }

  .auth-nav {
    display: block;
    margin-left: auto;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__link {
      color: var(--text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;

      transition: color var(--transition-functions);

      &:hover,
      &:focus {
        color: var(--accent-color);
        outline: none;
      }
    }

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;

    &__item + &__item {
      margin-left: 50px;
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
