.section_bgc_darkened {
  background-color: #f5f4fa;
}

.team-list {
  &__item {
    width: 100%;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
  }

  &__description {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__text {
    margin-bottom: 16px;

    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.team-social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;

    transition: background-color var(--transition-functions);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      outline: none;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);

    transition: fill var(--transition-functions);

    .team-social-list__link:hover &,
    .team-social-list__link:focus & {
      fill: var(--white-color);
      outline: none;
    }
  }
}

// @media screen and (min-width: 480px) {
//   .team-list__description {
//     padding-left: 122px;
//     padding-right: 122px;
//   }
// }

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &__item {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    // &__description {
    //   padding-left: 74px;
    //   padding-right: 74px;
    // }
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    &__item {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }

    // &__description {
    //   padding: 30px 32px;
    // }
  }
}
