.subscribe {
  margin-left: auto;

  &__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
  }
}

.subscribe-form {
  display: flex;

  &__input {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    height: 50px;

    background-color: var(--footer-bg-color);
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    transition: border var(--transition-functions);

    &:focus {
      border: 1px solid var(--accent-color);
      border-radius: 4px;
      outline: none;
    }

    &::placeholder {
      line-height: 1.25;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button_position {
    display: flex;
    justify-content: space-between;
    padding: 10px 29px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
