.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--transition-functions),
    visibility var(--transition-functions);
  z-index: 100;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
    transition: fill var(--transition-functions);

    &:focus {
      outline: none;
    }
  }

  &__close-button-icon {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    .modal-window__close-button:hover &,
    .modal-window__close-button:focus & {
      fill: var(--accent-color);
    }
  }
}
