.modal-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-form {
  width: 448px;

  &__label {
    display: block;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
  }

  &__text {
    display: block;
    margin-bottom: 4px;
  }

  &__input {
    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-functions);

    &:focus {
      border: 1px solid var(--accent-color);
      outline: none;
    }
  }

  &__thumb {
    position: relative;
    display: block;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    fill: var(--primary-text-color);
    transition: fill var(--transition-functions);

    .modal-form__input:focus + & {
      fill: var(--accent-color);
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border var(--transition-functions);

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
      border: 1px solid var(--accent-color);
      outline: none;
    }
  }

  &__agree {
    display: block;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
  }

  &__icon-check {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;

    border: 2px solid var(--primary-text-color);
    border-radius: 4px;

    cursor: pointer;
    transition: border var(--transition-functions);

    .modal-form__checkbox:checked + & {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
      background-image: url("../images/check.svg");
      background-size: contain;
      background-origin: border-box;
    }

    .modal-form__checkbox:focus + & {
      border: 2px solid var(--accent-color);
      border-radius: 4px;
    }
  }

  &__agree-lihk {
    color: var(--accent-color);
  }

  &__button_position {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
