:root {
  --primary-text-color: #212121; /*основной цвет текста*/
  --text-color: #757575; /*вторичный цвет текста*/
  --accent-color: #2196f3; /*цвет акцент*/
  --black-color: #000000; /*цвет черный*/
  --white-color: #ffffff; /*цвет белый*/
  --footer-bg-color: #2f303a; /*цвет фона футера*/
  --bg-decorations: #f5f4fa; /*цвет фона иконок*/
  --icon-color: #afb1b8; /*цвет иконок*/
  --transition-functions: 250ms cubic-bezier(0.4, 0, 0.2, 1); /*плавный переход*/
}
